Softwares/Horimetros-Node-Red.json
[{"id":"f406720b.196d8","type":"tab","label":"Horimetros","disabled":false,"info":""},{"id":"3c565cf2.573004","type":"s7 in","z":"f406720b.196d8","endpoint":"a79ee734.0346e8","mode":"all","variable":"","diff":false,"name":"","x":160,"y":80,"wires":[["429a8eed.e106b","78dc5c4f.4aeab4"]]},{"id":"ee8a42f1.5cc44","type":"inject","z":"f406720b.196d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["f61d53f7.d6c06","4219e2b5.dbe59c","bca19211.8e50f","997d4ecf.f104e","31905a29.679816","aff98e75.fea52","9a5ff395.4dec4"]]},{"id":"f61d53f7.d6c06","type":"function","z":"f406720b.196d8","name":"DespaletizadoraCaixa1","func":"var mgs3;\nvar Maquina='DespaletizadoraCaixa1';\nvar Area='L501';\nvar Grupo='G2';\nvar Status=flow.get('DespaletizadoraCaixa1Status')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos1')||0;\n        segundos++;\n        flow.set('segundos1',(segundos));\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos1')||0;\n            minutos++;\n            flow.set('minutos1', minutos);\n            segundos=0;\n            flow.set('segundos1',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos1', 0);\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["6d38f98c.3e3928","2153c4fc.d53e5c"]]},{"id":"4219e2b5.dbe59c","type":"function","z":"f406720b.196d8","name":"LavadoraCaixas","func":"var mgs3;\nvar Maquina='LavadoraCaixas';\nvar Area='L501';\nvar Grupo='G2';\nvar Status=flow.get('LavadoraCaixasStatus')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos2')||0;\n        segundos++;\n        flow.set('segundos2',(segundos));\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos2')||0;\n            minutos++;\n            flow.set('minutos2', minutos);\n            segundos=0;\n            flow.set('segundos2',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos2', 0);\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["6d38f98c.3e3928"]]},{"id":"bca19211.8e50f","type":"function","z":"f406720b.196d8","name":"MagazineCaixas","func":"var mgs3;\nvar Maquina='MagazineCaixas';\nvar Area='L501';\nvar Grupo='G3';\nvar Status=flow.get('MagazineCaixasStatus')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos3')||0;\n        segundos++;\n        flow.set('segundos3',(segundos));\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos3')||0;\n            minutos++;\n            flow.set('minutos3', minutos);\n            segundos=0;\n            flow.set('segundos3',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos3', 0);\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["6d38f98c.3e3928"]]},{"id":"997d4ecf.f104e","type":"function","z":"f406720b.196d8","name":"Paletizadora1","func":"var mgs3;\nvar Maquina='Paletizadora1';                        //define o nome da maquina\nvar Area='L501';                                    //define a area\nvar Grupo='G2';                                     //define o g da area\nvar Status=flow.get('Paletizadora1Status')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos4')||0;                  //Na primeira execução a variavel nao existe no flow, entao (||0) define zero na variavel; No proximo ciclo nao sera zero e ira atribui a variavel do flow na variavel local.\n        segundos++;                                         //incrementa os segundos\n        flow.set('segundos4',(segundos));                   // salva em variavel no flow(atençao para colocar o nome diferente para cada caixinha de funcao)\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos4')||0;\n            minutos++;                                      ////incrementa os minutos\n            flow.set('minutos4', minutos);                  ///// salva em variavel no flow(atençao para colocar o nome diferente para cada caixinha de funcao)\n            segundos=0;\n            flow.set('segundos4',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos4', 0);                    //Reseta a variavel minutos no flow\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n                 //este comando faz a inserção na base de dados, caso duplicado faz update no campo da tabela, no mysql isto faz o campo autonumeracao incrementar a ciclo, depois da primeira gravação da pra trocar o comando insert por apenas update.\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["6d38f98c.3e3928"]]},{"id":"31905a29.679816","type":"function","z":"f406720b.196d8","name":"Paletizadora2","func":"var mgs3;\nvar Maquina='Paletizadora2';\nvar Area='L501';\nvar Grupo='G3';\nvar Status=flow.get('Paletizadora2Status')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos5')||0;\n        segundos++;\n        flow.set('segundos5',(segundos));\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos5')||0;\n            minutos++;\n            flow.set('minutos5', minutos);\n            segundos=0;\n            flow.set('segundos5',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos5', 0);\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":380.765625,"y":601.75,"wires":[["6d38f98c.3e3928"]]},{"id":"6d38f98c.3e3928","type":"mysql","z":"f406720b.196d8","mydb":"7ce93b80.d02d14","name":"","x":710,"y":480,"wires":[["155880b3.51df6f"]]},{"id":"2153c4fc.d53e5c","type":"debug","z":"f406720b.196d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":360,"wires":[]},{"id":"155880b3.51df6f","type":"debug","z":"f406720b.196d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":480,"wires":[]},{"id":"429a8eed.e106b","type":"function","z":"f406720b.196d8","name":"","func":"if(msg.payload.LavadoraCaixasStatus===true ){    // Testa o valor da DB se é verdadeiro   \n        flow.set('LavadoraCaixasStatus',1);     //define uma uma variavel dentro deste flow\n    }else{\n        flow.set('LavadoraCaixasStatus',0);     //Se o valor da DB for Falso Define 0 na variavel dentro do flow\n    }\n if(msg.payload.DespaletizadoraCaixa1Status===true ){\n        flow.set('DespaletizadoraCaixa1Status',1);\n    }else{\n        flow.set('DespaletizadoraCaixa1Status',0);\n    }\n if(msg.payload.MagazineCaixasStatus===true ){\n        flow.set('MagazineCaixasStatus',1);\n    }else{\n        flow.set('MagazineCaixasStatus',0);\n    }    \n if(msg.payload.Paletizadora1Status===true ){\n        flow.set('Paletizadora1Status',1);\n    }else{\n        flow.set('Paletizadora1Status',0);\n    }\n if(msg.payload.Paletizadora2Status===true ){\n        flow.set('Paletizadora2Status',1);\n    }else{\n        flow.set('Paletizadora2Status',0);\n    } \n    if(msg.payload.Paletizadora3Status===true ){\n        flow.set('Paletizadora3Status',1);\n    }else{\n        flow.set('Paletizadora3Status',0);\n    }\n    if(msg.payload.EncaixotadoraStatus===true ){\n        flow.set('EncaixotadoraStatus',1);\n    }else{\n        flow.set('EncaixotadoraStatus',0);\n    }\n \n\n\n","outputs":1,"noerr":0,"x":510,"y":200,"wires":[[]]},{"id":"78dc5c4f.4aeab4","type":"debug","z":"f406720b.196d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":80,"wires":[]},{"id":"aff98e75.fea52","type":"function","z":"f406720b.196d8","name":"Paletizadora3","func":"var mgs3;\nvar Maquina='Paletizadora3';\nvar Area='L501';\nvar Grupo='G3';\nvar Status=flow.get('Paletizadora3Status')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos6')||0;\n        segundos++;\n        flow.set('segundos6',(segundos));\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos6')||0;\n            minutos++;\n            flow.set('minutos6', minutos);\n            segundos=0;\n            flow.set('segundos6',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos6', 0);\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":380,"y":649,"wires":[["6d38f98c.3e3928"]]},{"id":"e19f77d.cb4a988","type":"s7 in","z":"f406720b.196d8","endpoint":"c03e175f.53d898","mode":"single","variable":"EncaixotadoraStatus","diff":false,"name":"PLC-ENCAIXOTADORA","x":140,"y":140,"wires":[["429a8eed.e106b","78dc5c4f.4aeab4"]]},{"id":"84ccbed9.d77e7","type":"s7 in","z":"f406720b.196d8","endpoint":"97e6c7e8.9a6f48","mode":"single","variable":"DespaletizadoraCaixa1Status","diff":false,"name":"","x":160,"y":200,"wires":[["429a8eed.e106b","78dc5c4f.4aeab4"]]},{"id":"9a5ff395.4dec4","type":"function","z":"f406720b.196d8","name":"EncaixotadoraStatus","func":"var mgs3;\nvar Maquina='Encaixotadora';\nvar Area='L501';\nvar Grupo='G3';\nvar Status=flow.get('EncaixotadoraStatus')||0;\nvar segundos;\nvar minutos;\n    if(Status==1){\n        segundos=flow.get('segundos8')||0;\n        segundos++;\n        flow.set('segundos8',(segundos));\n        //msg3={topic:[segundos],payload:[segundos]};\n        \n        if(segundos==59){\n            minutos=flow.get('minutos8')||0;\n            minutos++;\n            flow.set('minutos8', minutos);\n            segundos=0;\n            flow.set('segundos8',0);\n            if(minutos==59){\n                minutos=0;\n                flow.set('minutos8', 0);\n                 msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n             return msg3;\n                \n            }\n        }\n            \n    }    \n    //msg3={topic:\"INSERT INTO Horimetros.tbMaquinas (time,Maquina, Area, Grupo, Horimetro) VALUES (now(),'\"+Maquina+\"','\"+Area+\"','\"+Grupo+\"',1) ON DUPLICATE KEY UPDATE Horimetro=Horimetro+1, time=now()\", payload:[segundos]}\n          ","outputs":1,"noerr":0,"x":380,"y":700,"wires":[["6d38f98c.3e3928"]]},{"id":"a79ee734.0346e8","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.24.22.18","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"1500","verbose":"default","name":"TRP-CAIXAS","vartable":[{"addr":"db1673,x10.2","name":"LavadoraCaixasStatus"},{"addr":"db1674,x10.1","name":"MagazineCaixasStatus"},{"addr":"db1675,x10.1","name":"Paletizadora1Status"},{"addr":"db1676,x10.1","name":"Paletizadora2Status"},{"addr":"db1677,x10.1","name":"Paletizadora3Status"}]},{"id":"7ce93b80.d02d14","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"Horimetros","tz":"America/Sao_Paulo"},{"id":"c03e175f.53d898","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.24.22.44","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"M266.0","name":"EncaixotadoraStatus"}]},{"id":"97e6c7e8.9a6f48","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.24.22.10","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"db1640,x22.0","name":"DespaletizadoraCaixa1Status"}]}]